@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

.glass-card {
  @apply bg-white/5 backdrop-blur-xl border border-white/10;
}

@keyframes pulse-glow {
    0%, 100% { transform: translate(-50%, -50%) scale(1); opacity: 0.4; }
    50% { transform: translate(-50%, -50%) scale(1.3); opacity: 0.7; }
}
.animate-orb { animation: pulse-glow 8s ease-in-out infinite; }

@keyframes float-card {
    0%, 100% { transform: translateY(0px) rotate(-1deg); }
    50% { transform: translateY(-15px) rotate(1deg); }
}
.animate-float { animation: float-card 6s ease-in-out infinite; }

/* --- TAMBAHAN BARU BUAT MARQUEE --- */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite; /* Kecepatan jalan */
}

/* Biar pas di-hover dia ngerem (opsional) */
.animate-marquee:hover {
  animation-play-state: paused;
}